{% extends "partials/base.html" %}

{% block content %}
<div class="container text-center align-items-center justify-content-center" style="margin-top: 5em;">
  <div id="alert-msg"></div>
  <div class="shadow w-100 p-5">
  <form id="create_url">
      <div class="row">
        <div class="col-12 col-md-10" style="padding-left: 0;">
          <label for="url" class="sr-only">Url</label>
          <input type="text" class="form-control" id="url" style="width: 100%; height: 70px;" placeholder="Url">
          
          <div class="text-left">
            <span class="text-danger mt-5" id="url_status"></span>
          </div>
        </div>
        <div class="col-12 col-md-2 mt-4 mt-md-0" style="padding-left: 0;">
          <button type="submit" class="btn btn-primary mb-2" id="create_btn" style="width: 100%; height: 70px;">
            Create
          </button>
      </div>
      </div>
  </form>
  </div>


</div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {

function isValidUrl(url){
  var myVariable = url;
  if(/^(http|https|ftp):\/\/[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/i.test(myVariable)) {
    return 1;
  } else {
    return -1;
  }   
}


var from = $("#create_url")

$("#create_url").on('submit', function(e) {
  // prevent the form reloading
  e.preventDefault()

  // get the value of the url 
  url = $("#url").val()

  if (url.length <= 0) {
    $("#url_status").html('Url Field is required!')
  }
  else 
  {
    // check the url is valid 
    if (isValidUrl(url) == -1) {
      $("#url_status").html('Url is invalid!')
    }
    else 
    {
      // reset the message to empty
      $("#url_status").html('')

      // add spinner to button 
      var spinner_html = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...`

      var create_BTN = $("#create_btn")

      // disabled the url and create button 
      $("#url").prop('disabled', true)
      create_BTN.prop('disabled', true)

      // add spinner to create button
      create_BTN.html(spinner_html)

      // send ajax request
      $.ajax({
        headers: {'X-CSRFToken': csrf},
        url: '/create/',
        method: 'POST',
        data: {
          'url': url
        },
        success: function(data) {
          if (data.status === true) {
            // reset to default 
            setTimeout(function() {

              // disabled to false 
              $("#url").prop('disabled', false)
              create_BTN.prop('disabled', false)
              create_BTN.html('Create')

              // show success message 
              $("#alert-msg").html(`
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Hey!</strong> ${data.msg}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              `)

              // set url value to empty
              $("#url").val('')

            }, 2000)

            // close the alert msg
            setTimeout(function(){
              $(".alert").alert('close')
            }, 4000)

          }
          else 
          {
            // reset to default and show error message
            setTimeout(function() {
              $("#url").prop('disabled', false)
              create_BTN.prop('disabled', false)
              create_BTN.html('Create')

              $("#alert-msg").html(`
              <div class="alert alert-error alert-dismissible fade show" role="alert">
                <strong>Hey!</strong> Basic Error Message&&**##
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              `)
            }, 2000)
          }
        }
      })

      

      
              
    }
    
  }



})
})
</script>
{% endblock %}